body,html,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 15px;
    font-weight: 200;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
    background-color: #472E32;
}
.main{
    background: rgba(255, 255, 255,0.05);
    margin: 10% auto;
    width: 35rem;
    height: 20rem;

    text-align: center;
    border-radius: 0.5rem;
    position: relative;
}
.main .target{
    line-height: 22rem;
}
.main a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: rgb(112, 212, 69);
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
}
.main a:hover{
    background-color: rgb(96, 190, 41);
}
.main a:focus{
    outline: none;
}
.main a.info{
    background-color: rgb(38, 198, 218);
}
.main a.info:hover{
    background-color: rgb(0, 172, 194);
}
.main a.great{
    background-color: rgb(250, 196, 80);
}
.main a.great:hover{
    background-color: rgb(217, 180, 22);
}
.main h3{
    font-size: 1.8rem;
    width: 100%;
    position: absolute;
    top: 25%;
    margin: 0 auto;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}